.banner-wrapper {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
  }
  
  .banner-container {
    width: 80%;
    max-width: 1000px;
   
    overflow: hidden;
  }
  
  .banner-inner {
    display: flex;
    width: 100%;
  }
  
  .slide {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
    flex-shrink: 0;
  }
  
  .banner-img {
    width: 900px;
    height: 450px;
    max-width: 100%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }