.pharmaAdminContainer {
    display: flex;
    /* gap: 40px; */
    height: 100vh;
}

.pharmaSidebar {
    width: 260px;
    background-color: red;

}

.pharmaAdminContent {
    width: calc(100% - 260px);
}

.pharmaAdminContent {
    padding: 20px;
}

.selectCss {
    width: 100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 10px;
}
select,input:focus{
    outline: none;
}