.deal-section {
    max-width: 100%;
    overflow: hidden;
  }
  
  .deal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 0 20px;
  }
  
  .deal-header h2 {
    font-size: 24px;
    color: #333;
  }
  
  .deal-header a {
    text-decoration: none;
    color: #ff6600;
    font-weight: bold;
  }
  .linkBorder{
    border-bottom: 0px solid !important;
  }
  .carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 16px;
    padding: 0 20px 10px;
  }
  
  .carousel::-webkit-scrollbar {
    display: none;
  }
  
  .deal-card {
    min-width: 200px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    flex: 0 0 auto;
    position: relative;
    padding: 16px;
    text-align: center;
    margin-bottom: 50px;
  }
  
  .deal-card img {
    width: 100%;
    height: 160px;
    object-fit: contain;
    margin-bottom: 10px;
  }
  
  .discount-tag {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #d6006e;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 20px;
  }
  
  .deal-title {
    font-weight: 600;
    font-size: 16px;
    margin: 10px 0 5px;
    color: #222;
  }
  
  .deal-pack {
    font-size: 14px;
    color: #777;
    margin-bottom: 8px;
  }
  
  .deal-price {
    font-size: 16px;
    color: #000;
    margin-bottom: 10px;
  }
  
  .deal-price del {
    color: #888;
    margin-left: 5px;
  }
  
  .add-btn {
    background: #fff;
    border: 2px solid #ff6600;
    color: #ff6600;
    padding: 6px 12px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
  }
  
  .add-btn:hover  {
    background: #ff6600;
    color: #fff;
  }
  .pt_30{
    padding-top: 30px;
  }