.banner-slider-container {
    width: 100%;
    overflow: hidden;
    padding: 20px 0;
    background-color: transparent;
    position: relative;
}

.banner-slide {
    flex-shrink: 0;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .banner-image1 {
    width: 100vw;
    object-fit: contain;
    border-radius: 8px;
    aspect-ratio: 1 / 1;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
} */

.banner-image1 {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: block;
    margin: 0 auto;
}


.banner-slide:hover .cd-image {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.banner-slider-container .slick-list {
    width: 100% !important;
}